<p>Hey {{ name }},</p>
<img src='../../../image/robot.gif' alt='image'>
<p>Please click below to confirm your email</p>
<p>
	<span>Confirm to link</span>
	<a href="{{ url }}">{{url}}</a>
</p>
<p>If you did not request this email you can safely ignore it.</p>
